 html,
 body,
 #root {
   margin: 0;
   color: white;
   background-color: #F89406;
   font-family: 'Roboto', sans-serif;
 }

 .container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .item {
   margin: 5px;
   text-align: center;
 }

 .item-url {
   display: flex;
 }

 #url {
   height: 26px;
   padding: 10px 10px;
   font-size: 18px;
   border-radius: 6px;
   width: 500px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   border-style: none;
 }

 @media screen and (max-width: 600px) {
   #url {
     width: 300px;
   }
 }

 @media screen and (max-width: 420px) {
   #url {
     width: 200px;
   }
 }

 h1 {
   font-weight: 500;
 }

 h1 svg {
   font-size: 36px;
   margin-left: 10px;
 }

 button {
   background-color: #4791D2;
   height: 46px;
   padding: 10px 10px;
   font-size: 18px;
   border-radius: 6px;
   border-style: none;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   color: inherit;
   cursor: pointer;
 }
